.texto {
  font-size:18px;
  font-weight: bold;
}
.texto2 {
  font-size:16px;
  }

th, td { 
    border-top: 1px solid #000; 
    border-left: 1px solid #000; 
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 20px;
    height: 8px;
    overflow: auto;
    }

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #D3D3D3, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    text-decoration: none;
  }


.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, ##D3D3D3, #3498db);
    text-decoration: none;
  }